.card{
    box-shadow: 0 0 1px gray;
}
.divider{
    border-bottom: 1px solid gray;
    margin: 10px 0;
}

.loader-parent {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.638);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    height: 80px;
    width: 80px;
    border: 5px solid #f3f3f3;
    border-left-color: transparent;
    border-radius: 50%;
    animation: loader 1s linear infinite;
  }
  /* loader css */
  @keyframes loader {   
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }