.einput{
    height: 20px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    width: 90%;
}
.ant-form-item{
    margin-bottom: 5px !important;
}
.primary-contained-btn{
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
}