.einput {
    height: 40px ;
    padding: 10px 20px ;
    border: 2px solid #0c0101 ;
    width: 90%;
}
.ant-form-item{
    margin-bottom: 5px !important;
}
.primary-contained-btn{
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
}
.primary-outlined-btn{
    background-color: white;
    color: var(--primary);
    border:2px solid var(--primary);
    padding: 10px 20px;
}
.ant-select-selector {
    border-color: black !important;
    width: 90% !important;
  }
  