.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav-a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav-a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav-a {font-size: 18px;}
  }

  .fax{
    color: yellow;
  }